<!DOCTYPE html>
<html>
<head>
<title>首页</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../static/company/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/company/css/iconeffects.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="../static/company/css/normalize.css">
<link href="../static/company/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="../static/company/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- fonts -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- //fonts -->
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="../static/company/js/move-top.js"></script>
		<script type="text/javascript" src="../static/company/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
	<!-- start-smoth-scrolling -->
</head>
<body>
<!-- banner -->
<div class="banner">

		<div class="container">
			<div class="header-nav">
							<nav class="navbar navbar-default">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header logo">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<h1>
										<a class="navbar-brand" href="index.html"><img class="img-responsive" src="../static/company/images/LOGO.png" alt=""></a>
									</h1>
								</div>
								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
									<nav class="cl-effect-1">
										<ul class="nav navbar-nav ">
											<li><a class="hvr-overline-from-left button2 active" href="index.html">首页</a></li>
											<li><a class="hvr-overline-from-left button2" href="../static/company/visitor.html">无人访客机</a></li>
											<li><a class="hvr-overline-from-left button2" href="../static/company/gate.html">门禁通道机</a></li>
											<li><a class="hvr-overline-from-left button2" href="../static/company/carpark.html">无人停车场</a></li>
										</ul>
									</nav>
								</div><!-- /navbar-collapse -->
							</nav>
			</div>
			<div class="banner-info text-center">
				<script src="../static/company/js/responsiveslides.min.js"></script>
					<script>
											// You can also use "$(window).load(function() {"
											$(function () {
											 // Slideshow 4
											$("#slider3").responsiveSlides({
												auto: true,
												pager: false,
												nav: false,
												speed: 500,
												namespace: "callbacks",
												before: function () {
											$('.events').append("<li>before event fired.</li>");
											},
											after: function () {
												$('.events').append("<li>after event fired.</li>");
												}
												});
												});
					</script>
				<div id="top" class="callbacks_container">
						<ul class="rslides" id="slider3">
							<li>
								<div class="banner-text">
									<h4>触碰未来</h4>
									<h4>帮家团用行动、用只会、走向科技未来</h4>
									<p>Bangjiat,Use Wisdom And Move Towards Technology Future.</p>
								</div>
							</li>
							<!-- <li>
								<div class="banner-text">
									<h4>Make Your business flourish by planting new crops</h4>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
								</div>
							</li>
							<li>
								<div class="banner-text">
									<h4>We celebrates the joy of agriculture science</h4>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
								</div>
							</li> -->
						</ul>
				</div>
				<a class="scroll" href="#banner-bottom"><img src="../static/company/images/down.png"></a>
			</div>
		</div>

</div>
<!-- //banner -->
<!-- welcome -->
<div id="banner-bottom" class="welcome">
	<div class="container">
		<h3>公司简介</h3>
		<p>贵州邦佳大数据科技有限公司2017年成立，坐落于贵州金融城-贵阳国际互联网金融特区，是贵阳市政府招商引资企业；是贵州智慧产业集团核心成员。

公司以智慧城市建设为中心，是一家集智慧园区（社区）服务、互联网平台建设、大数据产品开发、区块链研究为一体的创新型高科技企业。

目前，公司依托强大的研发力量，以“互联网+园区”为切入点，推出了“帮家团”智慧园区综合管理大数据应用平台；同时以门禁、闸机、访客、停车场等系统设备销售安装

为抓手，构筑智能化楼宇物联网体系，为广大物业公司和开发商客户提供了一款优秀的智能化掌上管理应用产品，解决了困扰他们的痛点问题。</p>


	</div>
</div>
<div id="banner-bottom" class="welcome">
	<img src="../static/company/images/yewu.png" style="width:100%">
</div>
<div class="specials" style="padding:0">
	<h3>走进帮家</h3>
		<div class="special-grids">
			<img src="../static/company/images/1.png" style="width: 50%;height: auto;;max-width: 50%;max-height: 100%;" alt=""/>
			<img src="../static/company/images/2.png" style="width: 50%;height: auto;max-width: 50%;max-height: 100%;float:right" alt=""/>
		</div>
		<div class="special-grids" style="margin-top: 0px;">
			<img src="../static/company/images/3.png" style="width: 50%;height: auto;;max-width: 50%;max-height: 100%;float:left" alt=""/>
			<img src="../static/company/images/4.png" style="width: 50%;height: auto;max-width: 50%;max-height: 100%;" alt=""/>
		</div>
</div>

<!-- specials -->
<!-- foo-top -->
<div class="foo-top">
	<div class="container">
		<h3 class="tittle">帮家产品及应用</h3>
		<div class="col-md-4 team-gd">
        <div class="thumb">
          <img src="../static/company/images/a.png" alt="">
						<div class="team_pos">
							<div class="team_para">
								<p>帮家团APP</p>
							</div>
						</div>
          </div>
    </div>
		<div class="col-md-4 team-gd">
        <div class="thumb">
          <img src="../static/company/images/b.png" alt="">
						<div class="team_pos">
							<div class="team_para">
								<p>停车缴费</p>
							</div>
						</div>
          </div>
    </div>
		<div class="col-md-4 team-gd">
        <div class="thumb">
          <img src="../static/company/images/c.png" alt="">
						<div class="team_pos">
							<div class="team_para">
								<p>无人停车场</p>
							</div>
						</div>
          </div>
    </div>
		<div class="col-md-4 team-gd">
        <div class="thumb">
          <img src="../static/company/images/d.png" alt="">
						<div class="team_pos">
							<div class="team_para">
								<p>高档会所</p>
							</div>
						</div>
          </div>
    </div>
		<div class="col-md-4 team-gd">
        <div class="thumb">
          <img src="../static/company/images/e.png" alt="">
						<div class="team_pos">
							<div class="team_para">
								<p>人脸识别闸机</p>
							</div>
						</div>
          </div>
    </div>
		<div class="col-md-4 team-gd">
        <div class="thumb">
          <img src="../static/company/images/f.png" alt="">
						<div class="team_pos">
							<div class="team_para">
								<p>大堂闸机</p>
							</div>
						</div>
          </div>
    </div>
		<div class="col-md-4 team-gd">
        <div class="thumb">
          <img src="../static/company/images/g.png" alt="">
						<div class="team_pos">
							<div class="team_para">
								<p>出入口控制机</p>
							</div>
						</div>
          </div>
    </div>
		<div class="col-md-4 team-gd">
        <div class="thumb">
          <img src="../static/company/images/h.png" alt="">
						<div class="team_pos">
							<div class="team_para">
								<p>广告道闸挡车器</p>
							</div>
						</div>
          </div>
    </div>
		<div class="col-md-4 team-gd">
        <div class="thumb">
          <img src="../static/company/images/i.png" alt="">
						<div class="team_pos">
							<div class="team_para">
								<p>车牌识别一体机</p>
							</div>
						</div>
          </div>
    </div>
		<div class="col-md-4 team-gd">
        <div class="thumb">
          <img src="../static/company/images/j.png" alt="">
						<div class="team_pos">
							<div class="team_para">
								<p>出入口控制机</p>
							</div>
						</div>
          </div>
    </div>
		<div class="col-md-4 team-gd">
        <div class="thumb">
          <img src="../static/company/images/k.png" alt="">
						<div class="team_pos">
							<div class="team_para">
								<p>智能化公园</p>
							</div>
						</div>
          </div>
    </div>
		<div class="col-md-4 team-gd">
        <div class="thumb">
          <img src="../static/company/images/l.png" alt="">
						<div class="team_pos">
							<div class="team_para">
								<p>售检票管理系统</p>
							</div>
						</div>
          </div>
    </div>
	</div>
</div>
<!-- //foo-top -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<h3>扫描下方二维码，下载帮家团APP吧！</h3>
		<div class="col-md-3" style="text-align:center;color:#fff;display:block;width: 100%;">
			<img src="../static/company/images/downcode.png" alt="">
			<h2>联系方式</h2>
			<p>客服热线：0851-84810969</p>
			<p style="padding-left: 16px;">电话：18785081362</p>
			<p style="padding-left: 16px;">电话：17385870269</p>
		</div>
		<p class="copy-right">Copyright &copy; 2018-2019.Bangjia.All Rights Reserved(黔ICP备17010772) <a href="http://g.bangjiat.com/" target="_blank" title="帮家团">帮家团</a> </p>
	</div>
</div>
<!-- //footer -->
<!-- for bootstrap working -->
	<script src="../static/company/js/bootstrap.js"></script>
<!-- //for bootstrap working -->
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
			};
		*/
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->

</body>
</html>
