<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j4sc.oss.dao.mapper.OssLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.j4sc.oss.dao.entity.OssLog">
        <id column="log_id" property="logId" />
        <result column="user_id" property="userId" />
        <result column="source" property="source" />
        <result column="ctime" property="ctime" />
        <result column="utime" property="utime" />
        <result column="remake" property="remake" />
    </resultMap>

</mapper>
