<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.j4sc.pay.dao.mapper.PayOrderRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.j4sc.pay.dao.entity.PayOrderRecord">
        <id column="record_id" property="recordId" />
        <result column="order_id" property="orderId" />
        <result column="content" property="content" />
        <result column="type" property="type" />
        <result column="ctime" property="ctime" />
    </resultMap>

</mapper>
